{% extends "layout-main.html" %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<h2>Connection Charts</h2>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					# Targets per Tags (pie chart)
				</div>
				<div class="panel-body">
					<div id="pie_chart">
			  		</div>
			  	</div>
	    	</div>
	    	<!-- /.panel -->
    	</div>
    	<!-- /.col-lg-6 -->

    	<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					# Targets per Tags (discrete bar chart)
				</div>
				<div class="panel-body">
					<div id="discrete_bar_chart">
			  		</div>
			  	</div>
	    	</div>
	    	<!-- /.panel -->
    	</div>
    	<!-- /.col-lg-6 -->

    	<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Bubble chart
				</div>
				<div class="panel-body">
					<div id="bubble_chart">
			  		</div>
			  	</div>
	    	</div>
	    	<!-- /.panel -->
    	</div>
    	<!-- /.col-lg-12-->
    </div>
    <!-- /.row -->

    <div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Target port
				</div>
				<div class="panel-body">
					<div id="bar_chart">
			  		</div>
			  	</div>
	    	</div>
	    	<!-- /.panel -->
    	</div>
    	<!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	var container = '#bar_chart'
    var data  = JSON.parse({{ json_data|tojson|safe }});
    var width = $(container).parent().width();
    var svg = dimple.newSvg(container, width, 400);

	var myChart = new dimple.chart(svg, data);
    myChart.addCategoryAxis("x", 'answer');
    myChart.addMeasureAxis('y', 'port');
    myChart.addSeries("answer", dimple.plot.bar);
    myChart.draw();
</script>

<script type="text/javascript">
// Get JSON data
var targets_data = [];
$.getJSON( "/get/targets", function( data ) {

	//Regular pie chart example
	nv.addGraph(function() {
	  var container= "#pie_chart"
	  var width = $(container).parent().width();
	  var svg = d3.select(container).append("svg")
		.attr("width", width)
		.attr("height", 600);

	  var chart = nv.models.pieChart()
	      .x(function(d) { return d.label })
	      .y(function(d) { return d.value })
	      .showLabels(true);

	  d3.select(container +  " svg")
	      .datum(data['tags'])
	      .transition().duration(350)
	      .call(chart);

	  return chart;
	});

	// Discrete bar chart
	nv.addGraph(function() {
	  var container = "#discrete_bar_chart"
	  var width = $(container).parent().width();
	  var svg = d3.select(container).append("svg")
		.attr("width", width)
		.attr("height", 600);	

	  var chart = nv.models.discreteBarChart()
	      .x(function(d) { return d.label })    //Specify the data accessors.
	      .y(function(d) { return d.value })
	      .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
	      .tooltips(true)         //Don't show tooltips
	      .showValues(true)       //...instead, show the bar value right on top of each bar.
	      .transitionDuration(350);

	  d3.select(container +  " svg")
	      .datum(data['discrete'])
	      .call(chart);

	  nv.utils.windowResize(chart.update);

	  return chart;
	});
});
</script>
{% endblock %}
