<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Boostrap Core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="{{ url_for('static', filename='css/plugins/metisMenu/metisMenu.min.css') }}" rel="stylesheet">

  <!-- Custom SB Admin CSSS -->
  <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">
  
  <!-- Custom Fonts -->
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">

  <!-- Bootstrap Glyphicons -->
  <link href="{{ url_for('static', filename='css/bootstrap-glyphicons.css') }}" rel="stylesheet">

  <!-- nvd3 css -->
  <link href="{{ url_for('static', filename='css/plugins/nvd3/nv.d3.min.css') }}" rel="stylesheet">

  <!-- bootstrap-table css -->
  <link href="{{ url_for('static', filename='css/plugins/bootstrap-table/bootstrap-table.min.css') }}" rel="stylesheet">

  <!-- bootstrap theme for datatables -->
  <link href="{{ url_for('static', filename='css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
   
  <!-- datatables.TableTools -->
  <link href="{{ url_for('static', filename='css/plugins/dataTables/dataTables.tableTools.css') }}" rel="stylesheet">
  
  <!-- datatables.TableTools -->
  <link href="{{ url_for('static', filename='css/plugins/bootstrap-multiselect/bootstrap-multiselect.css') }}" rel="stylesheet">
  
  <!-- Custom CSS settings -->
  <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<html>
<div id="wrapper">

      {% include "navigation.html" %}

      <div id="page-wrapper">
          {% block content %}
          {% endblock %}
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.0.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Metis Menu -->
    <script src="{{ url_for('static', filename='js/plugins/metisMenu/metisMenu.min.js') }}"></script>

    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static', filename='js/plugins/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/dataTables/dataTables.tableTools.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/sb-admin-2.js') }}"></script>

    <!-- D3 -->
    <script src="{{ url_for('static', filename='js/plugins/d3/d3.v3.min.js') }}"></script>

    <!-- DimpleJS -->
    <script src="{{ url_for('static', filename='js/plugins/dimplejs/dimple.v2.1.2.min.js') }}"></script>

    <!-- nvd3 -->
    <script src="{{ url_for('static', filename='js/plugins/nvd3/nv.d3.min.js') }}"></script>

    <!-- tableExport -->
    <script src="{{ url_for('static', filename='js/plugins/tableExport/tableExport.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/tableExport/jquery.base64.js') }}"></script>

    <!-- bootstrap-table -->
    <script src="{{ url_for('static', filename='js/plugins/bootstrap-table/bootstrap-table.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/bootstrap-table/extensions/bootstrap-table-export.js') }}"></script>
    
    <!-- bootstrap-multiselect -->
    <script src="{{ url_for('static', filename='js/plugins/bootstrap-multiselect/bootstrap-multiselect.js') }}"></script>

    <!-- custom js -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    {% block scripts %}
    {% endblock %}

</body>
</html>
