{% extends "layout-main.html" %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<h2>Applications Dashboard</h2>
			<hr>
		</div>
	</div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Applications
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#discrete" id="tab-discrete-chart" data-toggle="tab">Charts</a>
                        </li>
                        <li><a href="#datatables-table" id="tab-datatables" data-toggle="tab">Table</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="discrete">
                            <br/>
                            <div class="col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                       Severity
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div>
                                            <div id="severity_pie_chart"></div>
                                        </div>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-3 -->

                            <div class="col-lg-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                       Tags multiselect
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#selected-tags" data-toggle="tab">Home</a>
                                            </li>
                                            <li><a href="#selected-tags-settings" data-toggle="tab">Settings</a>
                                            </li>
                                            <li ><a hre="#" id="selected-tags-button">Update chart</a>
                                            </li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="selected-tags">
                                                </br>
                                                <div>
                                                    <div id="selected-tags-chart"></div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="selected-tags-settings">
                                                </br>
                                                <div> 
                                                    <table cellpadding="0" cellspacing="0" border="0" id="selected-tags-settings-table" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Primary</th>
                                                                <th>Secondary</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <select class="bootstrap-multiselect primary" id="multiselect-known" multiple="multiple">
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <select class="bootstrap-multiselect secondary" id="multiselect-known" multiple="multiple">
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <select class="bootstrap-multiselect primary" id="multiselect-known" multiple="multiple">
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <select class="bootstrap-multiselect secondary" id="multiselect-known" multiple="multiple">
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <select class="bootstrap-multiselect primary" id="multiselect-known" multiple="multiple">
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <select class="bootstrap-multiselect secondary" id="multiselect-known" multiple="multiple">
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <select class="bootstrap-multiselect primary" id="multiselect-known" multiple="multiple">
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <select class="bootstrap-multiselect secondary" id="multiselect-known" multiple="multiple">
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-9 -->
                        </div>
                        <div class="tab-pane fade in" id="datatables-table">
                            <h4>Data Tables</h4>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Collapse/Expand Filters</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <table cellpadding="0" cellspacing="0" border="0" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Target</th>
                                                        <th>Filter text</th>
                                                        <th>Treat as regex</th>
                                                        <th>Use smart filter</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr id="filter_global">
                                                        <td>Global filtering</td>
                                                        <td><input type="text"     name="global_filter" id="global_filter"></td>
                                                        <td><input type="checkbox" name="global_regex"  id="global_regex" ></td>
                                                        <td><input type="checkbox" name="global_smart"  id="global_smart"  checked></td>
                                                    </tr>
                                                    <tr id="filter_col1">
                                                        <td>Name</td>
                                                        <td><input type="text"     name="col1_filter" id="col1_filter"></td>
                                                        <td><input type="checkbox" name="col1_regex"  id="col1_regex"></td>
                                                        <td><input type="checkbox" name="col1_smart"  id="col1_smart" checked></td>
                                                    </tr>
                                                    <tr id="filter_col2">
                                                        <td>App Type</td>
                                                        <td><input type="text"     name="col2_filter" id="col2_filter"></td>
                                                        <td><input type="checkbox" name="col2_regex"  id="col2_regex"></td>
                                                        <td><input type="checkbox" name="col2_smart"  id="col2_smart" checked></td>
                                                    </tr>
                                                    <tr id="filter_col3">
                                                        <td>Bundle</td>
                                                        <td><input type="text"     name="col3_filter" id="col3_filter"></td>
                                                        <td><input type="checkbox" name="col3_regex"  id="col3_regex"></td>
                                                        <td><input type="checkbox" name="col3_smart"  id="col3_smart" checked></td>
                                                    </tr>
                                                    <tr id="filter_col4">
                                                        <td>Platform</td>
                                                        <td><input type="text"     name="col4_filter" id="col4_filter"></td>
                                                        <td><input type="checkbox" name="col4_regex"  id="col4_regex"></td>
                                                        <td><input type="checkbox" name="col4_smart"  id="col4_smart" checked></td>
                                                    </tr>
                                                    <tr id="filter_col5">
                                                        <td>Version</td>
                                                        <td><input type="text"     name="col5_filter" id="col5_filter"></td>
                                                        <td><input type="checkbox" name="col5_regex"  id="col5_regex"></td>
                                                        <td><input type="checkbox" name="col5_smart"  id="col5_smart" checked></td>
                                                    </tr>
                                                    <tr id="filter_col6">
                                                        <td>Status</td>
                                                        <td><input type="text"     name="col6_filter" id="col6_filter"></td>
                                                        <td><input type="checkbox" name="col6_regex"  id="col6_regex"></td>
                                                        <td><input type="checkbox" name="col6_smart"  id="col6_smart" checked></td>
                                                    </tr>
                                                    <tr id="filter_col7">
                                                        <td>URL(s)</td>
                                                        <td><input type="text"     name="col7_filter" id="col7_filter"></td>
                                                        <td><input type="checkbox" name="col7_regex"  id="col7_regex"></td>
                                                        <td><input type="checkbox" name="col7_smart"  id="col7_smart" checked></td>
                                                    </tr>
                                                    <tr id="filter_col8">
                                                        <td>Tags</td>
                                                        <td><input type="text"     name="col8_filter" id="col8_filter"></td>
                                                        <td><input type="checkbox" name="col8_regex"  id="col8_regex"></td>
                                                        <td><input type="checkbox" name="col8_smart"  id="col8_smart" checked></td>
                                                    </tr>
                                                    <tr id="filter_col9">
                                                        <td>Severity</td>
                                                        <td><input type="text"     name="col9_filter" id="col9_filter"></td>
                                                        <td><input type="checkbox" name="col9_regex"  id="col9_regex"></td>
                                                        <td><input type="checkbox" name="col9_smart"  id="col9_smart" checked></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                 <table id="table-apps" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}

{% block scripts %}

<script type="text/javascript">

// Get tags and initialize multiselects
$.getJSON( "/api/get/targets/tags", function( data ) {
    var tags = [];

    // Extract only tag names
    for (t in data['tags']) {
        tags.push(data['tags'][t].label)
    }

    // Create select lists
    $.each(tags, function(key, value) {
        $('.bootstrap-multiselect')
            .append($("<option></option>")
            .attr("value",key)
            .text(value)); 
    });
    $('.bootstrap-multiselect').multiselect({
        includeSelectAllOption: true,
        enableFiltering: true
    });

    // Add click event to the button
    $('#selected-tags-button').click(function () {
        var opts = [];

        $('#selected-tags-settings-table > tbody > tr').each(function () {
            $this = $(this)
            var main = $this.find(".primary");
            var sub = $this.find(".secondary");

            // Append to list
            opts.push({ 'main': get_multiselect_by_obj(main), 
                        'sub' : get_multiselect_by_obj(sub)
            });
        });

        // Get counts from DB
        $.ajax({
            url: '/api/get/selected-tags',
            type: 'POST',
            data: JSON.stringify(opts),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function(msg) {
               d3.select('#selected-tags-chart svg').remove();
               dimplejs_horiz_stacked_grouped_bar(msg, '#selected-tags-chart');
            }
        });
    });
});

$.getJSON( "/api/get/apps/table", function( data ) {
/* Formatting function for row details - modify as you need */
    function format ( d ) {
        // `d` is the original data object for the row
        return '<table class="table">'+
            '<tr>'+
                '<td>ID:</td>'+
                '<td><a href="/admin/app/edit/?url=/admin/app/&id='+d.app_id+'" target="_blank">'+d.app_id+'</a></td>'+
            '</tr>'+
            '<tr>'+
                '<td>Description:</td>'+
                '<td>'+d.desc+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Application Type:</td>'+
                '<td>'+d.app_type.desc+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Environment:</td>'+
                '<td>'+d.env+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Version</td>'+
                '<td>'+d.version+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Platform</td>'+
                '<td>'+d.platform+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Contact</td>'+
                '<td>'+d.contact+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Reported to Dpt.</td>'+
                '<td>'+d.reported_to_dpt+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Open Issues</td>'+
                '<td>'+d.open_issues+'</td>'+
            '</tr>'+
        '</table>';
    }

    // Create DataTables
    var table = $('#table-apps').DataTable( {
        "bProcessing": true,
        "sDom": 'T<"clear"><"top">rt<"bottom"flp><"clear">',
        "aaData": data['data'],
        "tableTools": {
            "sRowSelect": "os",
            "aButtons": [
                "copy",
                "print",
                "select_all", 
                "select_none",
                {
                    "sExtends":    "collection",

                    "sButtonText": "Save",
                    "aButtons":    [ "csv", "xls", "pdf" ]
                }
            ],
            "sSwfPath": "/static/js/plugins/dataTables/copy_csv_xls_pdf.swf"
        },
        "aoColumns": [
                {
                "class":          'details-control',
                "orderable":      false,
                "searchable":     true,
                "mDataProp":       null,
                "defaultContent": '<span class="glyphicon glyphicon-th-list"></span>',
                "width":           "20px"
            },
            { "type": "text", "sTitle": "Name",         "mDataProp": "app_name" },
            { "type": "text", "sTitle": "AppType",      "mDataProp": "app_type.desc" },
            { "type": "text", "sTitle": "Bundle",       "mDataProp": "bundle[0].name" },
            { "type": "text", "sTitle": "Platform",     "mDataProp": "platform" },
            { "type": "text", "sTitle": "Version",      "mDataProp": "version"},
            { "type": "text", "sTitle": "Status",       "mDataProp": "status" },
            { "type": "text", "sTitle": "URL(s)",       "mDataProp": "url"},

            /* Construct string from Tags List */
            { "type": "text", "sTitle": "Tags",         "mDataProp": 
                function (data, type, val) {
                    tags = data.tags;
                    tags_list = [];
                    $.each(tags, function (key, value) {
                        tags_list.push(value.name);
                    });
                    return tags_list.join(", ");
                }
            },
            { "type": "text", "sTitle": "Severity",       "mDataProp": "severity"},
        ],
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(3, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="table-group"><td style="background-color: #ECECEC; font-weight: bold;" colspan="10">'+group+'</td></tr>'
                    )
                    last = group;
                }
            } );
        }
    });

    // Add filtering

    // Description
    $("#col1_filter").keyup( function() { fnFilterColumn("#table-apps", 1); } );
    $("#col1_regex").click(  function() { fnFilterColumn("#table-apps", 1 ); } );
    $("#col1_smart").click(  function() { fnFilterColumn("#table-apps", 1 ); } );

    // AppType
    $("#col2_filter").keyup( function() { fnFilterColumn("#table-apps", 2); } );
    $("#col2_regex").click(  function() { fnFilterColumn("#table-apps", 2 ); } );
    $("#col2_smart").click(  function() { fnFilterColumn("#table-apps", 2 ); } );

    // Bundle
    $("#col3_filter").keyup( function() { fnFilterColumn("#table-apps", 3); } );
    $("#col3_regex").click(  function() { fnFilterColumn("#table-apps", 3 ); } );
    $("#col3_smart").click(  function() { fnFilterColumn("#table-apps", 3 ); } );

    // Platform
    $("#col4_filter").keyup( function() { fnFilterColumn("#table-apps", 4); } );
    $("#col4_regex").click(  function() { fnFilterColumn("#table-apps", 4 ); } );
    $("#col4_smart").click(  function() { fnFilterColumn("#table-apps", 4 ); } );

    // Version
    $("#col5_filter").keyup( function() { fnFilterColumn("#table-apps", 5); } );
    $("#col5_regex").click(  function() { fnFilterColumn("#table-apps", 5 ); } );
    $("#col5_smart").click(  function() { fnFilterColumn("#table-apps", 5 ); } );

    // Status
    $("#col6_filter").keyup( function() { fnFilterColumn("#table-apps", 6); } );
    $("#col6_regex").click(  function() { fnFilterColumn("#table-apps", 6 ); } );
    $("#col6_smart").click(  function() { fnFilterColumn("#table-apps", 6 ); } );
    
    // URLs
    $("#col7_filter").keyup( function() { fnFilterColumn("#table-apps", 7); } );
    $("#col7_regex").click(  function() { fnFilterColumn("#table-apps", 7 ); } );
    $("#col7_smart").click(  function() { fnFilterColumn("#table-apps", 7 ); } );

    // Tags
    $("#col8_filter").keyup( function() { fnFilterColumn("#table-apps", 8); } );
    $("#col8_regex").click(  function() { fnFilterColumn("#table-apps", 8 ); } );
    $("#col8_smart").click(  function() { fnFilterColumn("#table-apps", 8 ); } );
    
    // Tags
    $("#col9_filter").keyup( function() { fnFilterColumn("#table-apps", 9); } );
    $("#col9_regex").click(  function() { fnFilterColumn("#table-apps", 9 ); } );
    $("#col9_smart").click(  function() { fnFilterColumn("#table-apps", 9 ); } );


    // Add event listener for opening and closing details
    $('#table-apps tbody').on('click', '.details-control', function () {
        var tr = $(this).closest('tr');
        console.log(table.row);
        var row = table.row(tr);

        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    });


    /** Add charts **/

    function get_status_data(items) {
        // Add status data
        var status = []
        $.each(items, function(i, item) {
            status.push(item.status)
        });

        return count_occurences(status);
    }

    function get_platform_data(items) {
        var platform = []
        $.each(items, function(i, item) {
            platform.push(item.platform)
        });

        return count_occurences(platform);
    }

    function get_apptype_data(items) {
        var apptype = []
        $.each(items, function(i, item) {
            apptype.push(item.app_type.desc)
        });

        return count_occurences(apptype);
    }



    // Add charts
    // addDiscreteChart(get_status_data(data['data']), "#discrete_bar_chart_status");
    // addDiscreteChart(get_platform_data(data['data']),"#discrete_bar_chart_platform")
    // addDiscreteChart(get_apptype_data(data['data']),"#discrete_bar_chart_apptype")

    // Add total number of items
    $('#tab-datatables').text("Applications (" + data['data'].length+ ")");
});

// Get severities
$.getJSON( "/api/get/apps/severity", function( data ) {
	// Add charts
	nvd3_pie_chart(data['severities'], "#severity_pie_chart");
});

</script>
{% endblock %}
