{% extends "layout-main.html" %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<h2>Targets Dashboard</h2>
			<hr>
		</div>
	</div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Charts
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#discrete" id="tab-discrete-chart" data-toggle="tab">Charts</a>
                        </li>
                        <li><a href="#datatables" id="tab-datatables" data-toggle="tab">Targets Table</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="discrete">
                            <br/>
                            <div class="col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                       Discrete Bar Chart
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div>
                                            <div id="discrete_bar_chart"></div>
                                        </div>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                       Pie Chart
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div>
                                            <div id="pie_chart"></div>
                                        </div>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <div class="tab-pane fade in" id="datatables">
                            <h4>DataTables</h4>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Collapse/Expand Filters</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <table cellpadding="0" cellspacing="0" border="0" class="table">
                                        <thead>
                                        <tr>
                                            <th>Target</th>
                                            <th>Filter text</th>
                                            <th>Treat as regex</th>
                                            <th>Use smart filter</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="filter_global">
                                                <td>Global filtering</td>
                                                <td><input type="text"     name="global_filter" id="global_filter"></td>
                                                <td><input type="checkbox" name="global_regex"  id="global_regex" ></td>
                                                <td><input type="checkbox" name="global_smart"  id="global_smart"  checked></td>
                                            </tr>
                                            <tr id="filter_col1">
                                                <td>Scheme</td>
                                                <td><input type="text"     name="col1_filter" id="col1_filter"></td>
                                                <td><input type="checkbox" name="col1_regex"  id="col1_regex"></td>
                                                <td><input type="checkbox" name="col1_smart"  id="col1_smart" checked></td>
                                            </tr>
                                            <tr id="filter_col2">
                                                <td>Netloc</td>
                                                <td><input type="text"     name="col2_filter" id="col2_filter"></td>
                                                <td><input type="checkbox" name="col2_regex"  id="col2_regex"></td>
                                                <td><input type="checkbox" name="col2_smart"  id="col2_smart" checked></td>
                                            </tr>
                                            <tr id="filter_col3">
                                                <td>Port</td>
                                                <td><input type="text"     name="col3_filter" id="col3_filter"></td>
                                                <td><input type="checkbox" name="col3_regex"  id="col3_regex"></td>
                                                <td><input type="checkbox" name="col3_smart"  id="col3_smart" checked></td>
                                            </tr>
                                            <tr id="filter_col4">
                                                <td>Query</td>
                                                <td><input type="text"     name="col4_filter" id="col4_filter"></td>
                                                <td><input type="checkbox" name="col4_regex"  id="col4_regex"></td>
                                                <td><input type="checkbox" name="col4_smart"  id="col4_smart" checked></td>
                                            </tr>
                                            <tr id="filter_col5">
                                                <td>Priority</td>
                                                <td><input type="text"     name="col5_filter" id="col5_filter"></td>
                                                <td><input type="checkbox" name="col5_regex"  id="col5_regex"></td>
                                                <td><input type="checkbox" name="col5_smart"  id="col5_smart" checked></td>
                                            </tr>
                                            <tr id="filter_col6">
                                                <td>Tags</td>
                                                <td><input type="text"     name="col6_filter" id="col6_filter"></td>
                                                <td><input type="checkbox" name="col6_regex"  id="col6_regex"></td>
                                                <td><input type="checkbox" name="col6_smart"  id="col6_smart" checked></td>
                                            </tr>
                                        </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table id="table-targets" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}

{% block scripts %}

<script type="text/javascript">
// Get JSON data
var targets_data = [];
$.getJSON( "/api/get/targets/tags", function( data ) {

	// Add charts
	addDiscreteChart(data['discrete'], "#discrete_bar_chart");
	addPieChart(data['tags'], "#pie_chart");

});


/* Init Bootstrap Tables */
$.getJSON( "/api/get/targets/table", function( data ) {


    function format ( d ) {
        // Add tags
        var tags = [];
        $.each(d.tags, function(i, item) {
            tags.push(item.name);  
        });

        var connection = d.connection;

        // `d` is the original data object for the row
        return '<table class="table">'+
            '<tr>'+
                '<td>ID:</td>'+
                '<td><a href="/admin/target/edit/?url=/admin/target/&id='+d.id+'" target="_blank">'+d.id+'</a></td>'+
            '</tr>'+
            '<tr>'+
                '<td>Tags:</td>'+
                '<td>'+tags.join(", ")+
                '</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Connection:</td>'+
                 '<td>'+
                    '<table class="table">'+
                        '<tr>'+
                            '<td>ID:</td>'+
                            '<td><a href="/admin/connection/edit/?url=/admin/connection/&id='+connection.id+'" target="_blank">'+connection.id+'</a></td>'+
                        '</tr>'+
                        '<tr>'+
                            '<td>Conn Type:</td>'+
                            '<td>'+connection.conn_type+'</td>'+
                        '</tr>'+
                        '<tr>'+
                            '<td>URL:</td>'+
                            '<td>'+connection.url+'</td>'+
                        '</tr>'+
                        '<tr>'+
                            '<td>Port:</td>'+
                            '<td>'+connection.port+'</td>'+
                        '</tr>'+
                        '<tr>'+
                            '<td>Answer:</td>'+
                            '<td>'+connection.answer+'</td>'+
                        '</tr>'+
                        '<tr>'+
                            '<td>Redirect:</td>'+
                            '<td>'+connection.redirect+'</td>'+
                        '</tr>'+
                        '<tr>'+
                            '<td>IP(s):</td>'+
                            '<td>'+connection.ip+'</td>'+
                        '</tr>'+
                    '</table>'+
                '</td>'+
            '</tr>'+
        '</table>';
    }
    // Create DataTables
    var table = $('#table-targets').DataTable( {
        "bProcessing": true,
        "sDom": 'T<"clear"><"top">rt<"bottom"flp><"clear">',
        "tableTools": {
            "sRowSelect": "os",
            "aButtons": [
                "copy",
                "print",
                "select_all", 
                "select_none",
                {
                    "sExtends":    "collection",

                    "sButtonText": "Save",
                    "aButtons":    [ "csv", "xls", "pdf" ]
                }
            ],
            "sSwfPath": "/static/js/plugins/dataTables/copy_csv_xls_pdf.swf"
        },
        "aaData": data['data'],
        "aoColumns": [
            {
                "class":          'details-control',
                "orderable":      false,
                "searchable":     true,
                "mDataProp":       null,
                "defaultContent": '<span class="glyphicon glyphicon-th-list"></span>',
                "width":           "20px"
            },
            { "type": "text", "sTitle": "Scheme",   "mDataProp": "scheme" , "bRegex": true },
            { "type": "text", "sTitle": "Netloc",   "mDataProp": "netloc" , "bRegex": true},
            { "type": "text", "sTitle": "Port",   "mDataProp": "port" , "bRegex": true},
            { "type": "text", "sTitle": "Path", "mDataProp": "path", "bRegex": true},
            { "type": "text", "sTitle": "Priority", "mDataProp": "priority", "bRegex": true},
            
            /* Construct string from Tags List */
            { "type": "text", "sTitle": "Tags",         "mDataProp": 
                function (data, type, val) {
                    tags = data.tags;
                    tags_list = [];
                    $.each(tags, function (key, value) {
                        tags_list.push(value.name);
                    });
                    return tags_list.join(", ");
                }
            },
        ]
    });


    // Activate filtering

    // Global
    //$("#global_filter").keyup( fnFilterGlobal("table-targets") );
    //$("#global_regex").click( fnFilterGlobal("#table-targets") );
    //$("#global_smart").click( fnFilterGlobal("#table-targets") );
    
    // Scheme
    $("#col1_filter").keyup( function() { fnFilterColumn("#table-targets", 1); } );
    $("#col1_regex").click(  function() { fnFilterColumn("#table-targets", 1 ); } );
    $("#col1_smart").click(  function() { fnFilterColumn("#table-targets", 1 ); } );

    // Netloc
    $("#col2_filter").keyup( function() { fnFilterColumn("#table-targets", 2); } );
    $("#col2_regex").click(  function() { fnFilterColumn("#table-targets", 2 ); } );
    $("#col2_smart").click(  function() { fnFilterColumn("#table-targets", 2 ); } );

    // Port
    $("#col3_filter").keyup( function() { fnFilterColumn("#table-targets", 3); } );
    $("#col3_regex").click(  function() { fnFilterColumn("#table-targets", 3 ); } );
    $("#col3_smart").click(  function() { fnFilterColumn("#table-targets", 3 ); } );

    // Query
    $("#col4_filter").keyup( function() { fnFilterColumn("#table-targets", 4); } );
    $("#col4_regex").click(  function() { fnFilterColumn("#table-targets", 4 ); } );
    $("#col4_smart").click(  function() { fnFilterColumn("#table-targets", 4 ); } );

    // Priority
    $("#col5_filter").keyup( function() { fnFilterColumn("#table-targets", 5); } );
    $("#col5_regex").click(  function() { fnFilterColumn("#table-targets", 5 ); } );
    $("#col5_smart").click(  function() { fnFilterColumn("#table-targets", 5 ); } );
    
    // Tags
    $("#col6_filter").keyup( function() { fnFilterColumn("#table-targets", 6); } );
    $("#col6_regex").click(  function() { fnFilterColumn("#table-targets", 6 ); } );
    $("#col6_smart").click(  function() { fnFilterColumn("#table-targets", 6 ); } );
    
    // Add event listener for opening and closing details
    $('#table-targets tbody').on('click', '.details-control', function () {
        var tr = $(this).closest('tr');
        console.log(table.row);
        var row = table.row(tr);

        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    });

    // Add total number of items
    $('#tab-datatables').text("Targets (" + data['data'].length+ ")");
});
</script>
{% endblock %}
